html {
    background: linear-gradient(180deg, rgba(109, 103, 84, 0) 0%, #D1C3A0 100%);
background-blend-mode: multiply;
}

/* Hi, I’m Madeline Allen */


position: absolute;
width: 440px;
height: 60px;
left: 472px;
top: 128px;

font-family: 'Optima';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #000000;

.socials li {
    width: 30px;
    display: inline-block;
    padding: 20px 10px;
}



