html {
    background: linear-gradient(180deg, rgba(109, 103, 84, 0) 0%, #D1C3A0 100%);
background-blend-mode: multiply;
}
body { 
    font-family: Optima;
    margin: 40 px;
    padding: 40 px;
    color: #000000;
    border-top: 10 px solid #242424;
    background: #fff; 
}

